

.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
  }
  

  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 80%; 
  }
  
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

.upload {
    border-style: dashed;
    border-color: #888;
    border-radius: 5px;
    padding:100px;
    margin-left:300px;
    margin-right:300px;
    border-width: thin;
} 

.tabs {
    position: relative;   
    min-height: 500px;
    clear: both;
    margin:0 auto;
  }
  .tab {
    float: left;
    display: flex;
    align-items: center;
  }
  .tab-1{
    margin-left: 400px; 
  }
  .tab label {
    
    padding: 10px; 
    position: relative; 
    font-family: sans-serif;
  }
  .tab [type=radio] {
    display: none;   
  }
  .content {
    position: absolute;
    top: 28px;
    left: 0;
    background: white;
    right: 0;
    bottom: 0;
    padding: 20px;
    overflow: hidden;
  }
  [type=radio]:checked ~ label {
    background: white;
    border-bottom: 1px solid #3598DB;
    z-index: 2;
  }
  [type=radio]:checked ~ label ~ .content {
    z-index: 1;
  }

  select{
      margin:10px;
      position: relative;
      font-family: sans-serif;
      background: none;
      padding: 5px;
      border-radius: 5px;
      border-color: #3598DB;;
  }
 
 option{
     font-family: sans-serif;
 }

 .fileupload{
  background-color: none;
  border: 1px solid var(--unnamed-color-3598db);
  box-shadow: 0px 3px 6px #00000029;
  border: 1px solid #3598DB;
  border-radius: 6px;
  opacity: 1;
  color: #3598DB;
 }

 @media screen and (max-width:600px){
   .upload{
      padding: 0px;
      margin:0px
   }
   .content{
     padding:0px;
     margin:0px;
     margin-top: 10px;
   }
 }
