.main_searchJobs_container {
  margin-top: 70px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
}
.searchJobs_list {
  list-style: none;
  flex-basis: 10%;
}
.searchJobs_listItem.active {
  color: #3598db;
}
.searchJobs_listItem {
  padding: 12px 0px;
  margin: 10px 0px;
  color: #333333;
  cursor: pointer;
}
.searchBar_section_searchJobs {
  flex-basis: 60%;
  padding: 0px 80px;
  position: relative;
}
.filter_for_searchJobs {
  flex-basis: 10%;
  display: flex;
}
.input_for_Search_searchJobs {
  width: 80%;
  border: 1px solid #979797;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 31px;
  padding: 10px 15px;
  font-size: 15px;
  outline: none;
  color: #979797;
  z-index: 1;
  position: relative;
}
.searchButton_searchJobs {
  background-color: none;
  border: none;
  outline: none;
  color: #297fb8;
  margin-left: -40px;
  cursor: pointer;
  z-index: 1;
  position: relative;
}
.advancedSearch_text {
  color: #297fb8;
  float: right;
  margin-top: 20px;
}
.recent_searches_div {
  position: absolute;
  padding: 30px 30px 90px 30px;
  background-color: white;
  width: 80%;
  z-index: 0;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 31px;
  display: none;
}
.recent_searches_div.active{
  display: block;
}
.recent_searches_div p {
  color: #979797;
  font-size: 14px;
  margin-bottom: 10px;
}
.recent_searches_div span {
  color: #297fb8;
  margin-right: 10px;
  display: inline-block;
  font-size: 14px;
}
.tags_div_searchJobs {
  display: none;
  flex-basis: 80%;
  width: 100%;
}
.upper_cta_tags_div_searchJobs{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.upper_cta_tags_div_searchJobs span{
  color: #297fb8;
}
.upper_cta_tags_div_searchJobs button{
  outline: none;
  border: none;
  padding: 8px;
  color: white;
  background-color: #297fb8;
  border-radius: 7px;
}
.radioButtons_div_searchJobs{
  width: 100%;
  padding: 20px;
  border-bottom: 1px solid #979797;
}
.radioButtons_div_searchJobs p{
  margin-bottom: 10px;
  color: #979797;
}
.radioButtons_div_searchJobs span input{
-webkit-appearance: none;
-moz-appearance: none;
appearance: none;
border: 10px solid #3598db;
margin:0px 8px;
border-radius: 8px;
}
.radioButtons_div_searchJobs span input:checked{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 10px solid #979797;
  

  }
.radioButtons_div_searchJobs span{
  display: inline-block;
  padding: 20px;
}
.filter_div_searchJobs {
  position: relative;
  flex-basis: 100%;
}
.flex-direction-column-searchJobs{
  display: flex;
  flex-direction: column;
}
.flex-direction-column-searchJobs section{
  margin-top: 15px;
}
.flex-direction-column-searchJobs section span{
  margin-top: 8px;
  display: inline-block;
}
.filter_div_searchJobs p {
  margin: 10px 0px;
  color: #333333;
  font-size: 18px;
}
.filter_div_searchJobs select{
  margin: 14px 0px;
  border: 1px solid #3598DB;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -ms-appearance: none; /* get rid of default appearance for IE8, 9 and 10*/
  border-radius: 7px;
  padding:7px 10px;
  background:transparent;
  color: #333333;
  position: relative;
}

.filter_div_searchJobs input{
    padding: 8px 20px;
    margin: 14px 0px;
    color: #979797;
}
.addSkills_for_searchJobs,.addCompany_for_searchJobs,.addIndustry_for_searchJobs,.addQualifications_for_searchJobs{
    margin: 10px 0px;
}
.addSkills_for_searchJobs span,.addCompany_for_searchJobs span,.addIndustry_for_searchJobs span,.addQualifications_for_searchJobs span{
    border: 1px solid #979797;
    font-size: 14px;
    margin: 5px;
    background-color: #F5F5F5;
    padding: 5px;
    color: #979797;
    border-radius: 3px;
}

@media screen and (max-width:500px){
  .searchJobs_list{
    display: inline;
    margin: 8px;
    flex-basis: 95%;
  }
  .searchJobs_listItem{
    display: inline-block;
    margin: 10px;
  }
  .searchBar_section_searchJobs{
    flex-basis: 95%;
    padding: 0px 20px;
  }
  .filter_for_searchJobs{
    flex-basis: 100%;
    margin-top: 60px;
  }
  .recent_searches_div{
    z-index: 1;
  }
  .recent_searches_div span {
    margin-bottom: 10px;
  }
  .tags_div_searchJobs{
    flex-basis: 95%;
  }
}