.row_for_settings{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
}
.left_area_for_settings{
    flex-basis: 70%;
}
.settings_card_single-item {
    /* padding: 20px 6px; */
    border-bottom: 1px solid #e0e0e0;
    color: #979797;
    padding-bottom: 30px;
}
.settings_card_single-item a.active-link{
    color: #3598DB;
}
.settings_card_single-item a{
    text-decoration: none;
    color: #333333;
}
.heading_for_settings_card_single-item.active-link{
  color: #2196F3;
}
.heading_for_settings_card_single-item{
    margin: 20px 0px;
    font-weight: normal;
    font-size: 18px;
    color: #333333;
    cursor: pointer;
}
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 30px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 22px;
    width: 24px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
.notifications_single_panel_settings_card_single-item,.updates_panel_settings_card_single-item{
    padding: 18px 0px;
    border-bottom: 1px solid #e0e0e0;
}
.check_for_updates_button{
    color: white;
    background-color: #6EC5FF;
    font-size: 15px;
    outline: none;
    border:none;
    border-radius: 8px;
    padding: 7px 12px;
    cursor: pointer;
}
.container_for_collapsing_notif,.container_for_collapsing_updates{
    display: none;
}
.right_area_for_settings{
    flex-basis: 10%;
    justify-self: right;
}
.right_area_for_settings ul {
    list-style: none;
}
.right_area_for_settings ul li{
    padding: 10px;
}
.list-item-link_for_settings.active-link{
    color: #3598DB;
}
.right_area_for_settings ul li a{
    color: #333333;
    text-decoration: none;
    font-size: 18px;
}


@media screen and (max-width:499px){
  .row_for_settings{
    flex-wrap: wrap-reverse;
  }
  .left_area_for_settings{
    flex-basis: 100%;
    margin: 60px 0px;
  }
}