.heading_dash{
  position: relative;
}
.heading_dash span{
  position: absolute;
  top: 10px;
  right: 5px;
  color: #979797;
}
.ticket-select-options-div-complaint_tickets{
  margin-top: 50px;
}
.ticket_type_label_complaint_tickets_label{
    margin-bottom: 4px;
    display: block;
    width: 100%;
    font-size: 16px;
    color: #333333;
}
#ticket_type_label_complaint_tickets{
  border:1px solid #3598DB;
  border-radius: 7px;
  padding: 5px 15px;
  width: 120px;
  font-size: 14px;
  color: #3598DB;;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -ms-appearance: none; 
    margin-right: 12px;
}
.ticket-after-div-select-element{
  position: relative;
}
.ticket-after-div-select-element::after{
  content:"";
  position: absolute;
  top: 12px;
  right: 20px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 8px solid #3598DB;
}
.ticket-select-options-div-complaint_tickets button{
    position: absolute;
    right: 5px;
    background-color: #51C46D;
    border:none;
    outline: none;
    color: white;
    font-size: 16px;
    padding: 8px 10px;
    cursor: pointer;
    border-radius: 8px;
}
.ticket-categories-options-tochoose {
  margin: 20px 0px;
}
.ticket-categories-options-tochoose .row-recruiter {
  text-align: center;
  width: 70%;
  justify-content: center;
  margin: 0px auto;
}
.sub-ticket-categories-options-tochoose {
  padding: 20px 40px;
  cursor: pointer;
  color: #979797;
  font-size: 18px;
}
.sub-ticket-categories-options-tochoose.active{
    color: #3598DB;
    border-bottom: 2px solid #3598DB;
}
.sub-ticket-categories-options-tochoose::after {
  content: "2";
  color: white;
  background-color: #51c46d;
  border-radius: 100%;
  font-size: 16px;
  margin-left: 4px;
  padding: 3px 7px;
}
.complaint-tickets-recruiter-cards-div{
  display: none;
}
.complaint-tickets-recruiter-cards-div.active{
  display: block;
}
.light-grey-text-complain-ticket.complaint {
  font-size: 18px;
  color: #ec4551;
  font-weight: bold;
}
.light-grey-text-complain-ticket.feedback {
  font-size: 18px;
  color: #3598db;
  font-weight: bold;
}
.light-grey-text-complain-ticket.query {
  font-size: 18px;
  color: #ffbd06;
  font-weight: bold;
}
.light-grey-text-complain-ticket {
  color: #979797;
  font-size: 16px;
  margin-bottom: 5px;
}
.black-text-ciomplaint-ticket-recruiter {
  color: #333333;
  font-size: 16px;
}
.span-message-complaint-ticket-recruiter {
  width: 60%;
  padding-right: 50px;
}
.image-margin-right-complaint-ticket-recruiter {
  margin-right: 8px;
}
.complaint-card-recruiter-complaint-tickets .row-recruiter {
  justify-content: space-around;
}
.complaint-card-recruiter-complaint-tickets {
  box-shadow: 1px 3px 10px #00000033;
  border-radius: 8px;
  padding: 30px 0px;
  margin: 30px 0px;
  position: relative;
}
.delete-button-complaint-ticket-recruiter,
.reply-button-complaint-ticket-recruiter {
  background: none;
  cursor: pointer;
  position: absolute;
  outline: none;
  border: none;
}
.delete-button-complaint-ticket-recruiter {
  top: 10px;
  right: 10px;
}
.reply-button-complaint-ticket-recruiter {
  bottom: 10px;
  right: 10px;
}
.create-ticket-recruiter-ekam{
  background: rgba(0, 0, 0, .5);
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  display: none;
}
.create-ticket-recruiter-ekam.active{
  display: block;
}
.create-ticket-recruiter-ekam form{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background: #fff;
  padding: 50px;
  box-shadow: 0 5px 15px rgba(0,0,0,.5);
  border-radius: 8px;
  width: 60vw;
}
.name-for-form-create-ticket-recruiter-ekam{
  font-size:27px ;
  color:#3598DB;
  float:left;
  display: block;
  width: 100%;
  margin-bottom: 20px;
}
.create-ticket-subTicket-recruiter span label,.span-section-for-email-andlabels-complaints label,.create-ticket-subTicket-recruiter-2 label{ 
  display: block;
  margin-top: 12px;
  margin-bottom: 12px;
  color: #333333;
  font-size: 18px;
}
.create-ticket-subTicket-recruiter span input,.span-section-for-email-andlabels-complaints input,#message-input-complaint-tickets-recruiter{
width: 100%;
}
.create-ticket-main-recruiter-complaints{
  width: 100%;
  align-items: flex-start;  
  justify-content: space-between;
}
.create-ticket-subTicket-recruiter,.create-ticket-subTicket-recruiter-2{
  flex-basis: 45%;
}
.create-ticket-subTicket-recruiter input,.create-ticket-subTicket-recruiter-2 input,#message-input-complaint-tickets-recruiter{
  border: 1px solid #3598DB;
  outline: none;
  padding:8px 10px;
  border-radius: 8px;
  font-size: 16px;
}
#message-input-complaint-tickets-recruiter{
  min-height:300px ;
  padding: 20px;
  font-size: 18px;
}
.select-options-for-complaint-tickets{
  justify-content: space-between;
  width: 100%;
  margin-top: 20px;
}
.select-options-for-complaint-tickets span label{
  display: block;
  margin-top: 12px;
  margin-bottom: 12px;
  color: #333333;
  font-size: 18px;
}
#complaint-type-input-complaint-tickets-recruiter{
  border:1px solid #3598DB;
  width: 100%;
  border-radius: 8px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -ms-appearance: none; 
  padding:8px 10px;
  color: #333333;
}

.button-complaints-recruiter-complaints{
  float: right;
  margin-top: 20px;
  
}
.close-button-for-dialog-box-create-tickets{
  outline: none;
  border: none;
  color:#979797;
  margin: 0px 20px;
  cursor: pointer;
}
.button-complaints-recruiter-complaints button:nth-child(2){
  outline: none;
  border: none;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 8px;
  color: white;
  padding: 7px 20px;
  background-color: #51C46D;
  margin: 0px 20px;
  cursor: pointer;
}
@media screen and (max-width:750px){
  .heading_dash span{
    display: none;
  }
  .complaint-card-recruiter-complaint-tickets{
    padding: 8px;
  }
  .span-message-complaint-ticket-recruiter{
    width: 40%;
  }
}
@media screen and (max-width:650px){
  .heading_dash span{
    display: none;
  }
  .complaint-card-recruiter-complaint-tickets{
    padding: 8px;
  }
  .span-message-complaint-ticket-recruiter .black-text-ciomplaint-ticket-recruiter{
    width: 100%;
    height: 100px;
    overflow: scroll;
  }
  .span-message-complaint-ticket-recruiter{
    width: 70%;
  }
}
@media screen and (max-width:500px){
  .create-ticket-recruiter-ekam form{
    margin: 50px auto;
    overflow: scroll;
    width: 90vw;
    top: 300px;
    height: 600px;
    padding:50px 20px;
  }
  .create-ticket-subTicket-recruiter,.create-ticket-subTicket-recruiter-2{
    flex-basis: 100%;
  }
  .complaint-card-recruiter-complaint-tickets .row-recruiter{
    flex-direction: column;
  }
  .span-message-complaint-ticket-recruiter .black-text-ciomplaint-ticket-recruiter{
    width: 100%;
    height: 100px;
    overflow: scroll;
  }

  .complaint-card-recruiter-complaint-tickets .row-recruiter span{
    margin: 8px 0px;
  }
  .ticket-select-options-div-complaint_tickets .row-recruiter{
    align-items: flex-start;
    flex-direction: column;
  }
  .ticket-select-options-div-complaint_tickets .row-recruiter span{
    margin-bottom: 10px;
  }
}