.contact-us-section-box{
    box-shadow: 1px 6px 10px #0000004A;
    background: #fff;
    width: 100%;
    border-radius: 8px;
    margin-top: 40px;
    padding: 30px;
    align-items: flex-start!important;
}
.left-flex-contact-us-section-box{
    width: 50%;
}
.contact-info-left-flex-contact-us-section-box{
    justify-content: space-between;
    padding:10px 50px;
}
.contact-us-svg-recruiter{
    width: 70%;
    display: block;
    margin: 10px auto;
}
.grey-small-text-contact-us{
    color: #979797;
    font-size: 16px;
    margin-bottom: 10px;
}
.black-text-contact-us-image-below{
    color: #333333;
    font-size: 18px;
    margin-bottom: 10px;
}
.right-flex-contact-us-section-box{
    width: 50%;
    padding: 20px;
}
#contact-us-recruiter span input{
    border: none;
    display: block;
    margin-top: 10px;
    margin-bottom: 35px;
    padding: 10px;
    border: 1px solid #3598DB;
    border-radius: 7px;
    font-size: 16px;
    color: #555;
    height: 40px;
    width: 100%;
}
.input-labels-contact-us{
    justify-content: space-between;
}
.input-labels-contact-us span{
    flex-basis: 45%;
    width: 100%!important;
}
.input-labels-contact-us span input{
    width: 100%!important;
}
#contact-us-recruiter span textarea{
    border: none;
    display: block;
    margin-top: 10px;
    margin-bottom: 35px;
    padding: 10px;
    border: 1px solid #3598DB;
    border-radius: 7px;
    font-size: 16px;
    color: #555;
    height: 40px;
    width: 100%;
}
.button-recruiter-contact-us-submit{
    border: none;
    outline: none;
    color: #ffff;
    background-color: #51c46d;
    padding: 10px 20px;
    font-size: 18px;
    margin: 10px auto;
    border-radius: 8px;
    display: block;
    cursor: pointer;
}
@media screen and (max-width:1200px){
    .contact-info-left-flex-contact-us-section-box{
        padding: 20px;
    }
}
@media screen and (max-width:710px){
    .contact-info-left-flex-contact-us-section-box{
        padding: 20px;
    }
    .right-flex-contact-us-section-box{
        width: 100%;
    }
    .left-flex-contact-us-section-box{
        width: 100%;
    }
    .contact-us-section-box{
        flex-direction: column-reverse;
    }
}