* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.default-button-for-recruiter-dashboard{
  color: white;
  background-color: #3598db;
  outline: none;
  border: none;
  padding: 5px 20px;
  border-radius: 8px;
  cursor: pointer;
  box-shadow: 0px 3px 6px #00000029;
}
a {
  text-decoration: none;
  outline: none;
  border: none;
}
.row-recruiter {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
body {
  background-color: white;
  box-sizing: border-box;
  font-family: sans-serif;
  background-color: #fff;
}
.sidebar_main {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  background-color: #2d3e50;
  width: auto;
  padding: 20px;
  z-index: 100;
  overflow-y: scroll;
}
.sidebar_main-list {
  list-style: none;
}
.sidebar_main-listItems {
  display: block;
}
.sidebar_main-listlinks {
  color: white;
  margin: 40px auto;
  display: block;
  text-decoration: none;
  text-align: center;
}

/* main nav */
.container {
  max-width: 100%;
  margin-left: 80px;
  position: relative;
  padding: 0px 30px;
  margin-top: 30px;
}
.nav_main {
  margin: 50px auto;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
}
.logo_heading {
  color: #2d3e50;
  font-size: 28px;
  font-family: sans-serif;
}
.input-field {
  box-shadow: 3px 3px 5px 0px rgba(238, 238, 238, 1);
  border-radius: 31px;
  flex-basis: 35%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 0px;
}
.searchForJobs {
  padding: 5px 0px;
  text-align: center;
  border: none;
  outline: none;
  color: #979797;
}
.searchButton {
  background: none;
  outline: none;
  cursor: pointer;
  border: none;
}
.profileInNav {
  flex-basis: 13%;
  justify-content: space-around;
  position: relative;
}
/* .profileInNav::after {
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background-color: #EC4551;
  position: absolute;
  left: 58px;
  top: 10px;
}  */
.notificationsDiv {
  display: none;
  position: absolute;
  top: 40px;
  padding: 20px;
  background-color: white;
  right: 50px;
  box-shadow: 1px 6px 10px #0000004a;
  width: 400px;
  z-index: 2;
  text-align: left;
}
.notificationsDiv-1 {
  display: none;
  position: absolute;
  top: 80px;
  padding: 20px;
  background-color: white;
  right: 50px;
  box-shadow: 1px 6px 10px #0000004a;
  width: 400px;
  z-index: 2;
  text-align: left;
}
.activeNotificationsDiv {
  display: block;
}
.notificationsDiv ul {
  list-style: none;
}
.notificationsDiv ul li {
  border-bottom: 1px solid #e8e8e8;
  padding: 10px 0px;
}
.notificationsDiv ul li a {
  text-decoration: none;
  color: #333333;
}
.notificationsDiv ul li a div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.notificationsDiv ul li a div span {
  font-size: 14px;
  color: #979797;
}

.top-row-profileSection-dashboard_recruiter::after {
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background-color: #ec4551;
  position: absolute;
  left: 80px;
  top: 55px;
}
.notificationProfileInNavNoti,
.notificationProfileInNav {
  cursor: pointer;
  width: 20px;
}
.profileInNav,
.profileInfoInNav {
  display: flex;
  align-items: center;
}
.profileInfoInNav {
  cursor: pointer;
  justify-content: space-around;
  position: relative;
}
.nameInNav {
  margin-left: 10px;
  font-weight: 500;
}
/* dashboard */
.small_container {
  max-width: 80vw;
  display: block;
  margin: 80px auto;
  position: relative;
}

.heading_dash {
  margin: 20px auto;
  width: 100%;
}
.mainHeadingDash {
  font-weight: 400;
  font-size: 45px;
  color: #333333;
  margin: 10px 0px;
}
.mainParaDash {
  color: #3598db;
}
.dropDownDiv_nav {
  position: absolute;
  background-color: white;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 1px 3px 10px #00000033;
  min-width: 170px;
  top: 120%;
  text-align: center;
  z-index: 2;
  display: none;
}
.dropDownDiv_nav_active {
  display: block;
}
.dropDownDiv_nav ul {
  list-style: none;
}
.dropDownDiv_nav ul li {
  border-bottom: 1px solid #e8e8e8;
  padding: 12px;
}
.dropDownDiv_nav ul li a {
  text-decoration: none;
}
.dropDownDiv_nav ul li a {
  color: #3598db;
}
.hamburger {
  display: none;
}
@media screen and (max-width: 1900px) {
  .notificationsDiv {
    right: 60px;
    width: 300px;
  }
}
@media screen and (max-width: 1500px) {
  .notificationsDiv {
    right: 60px;
    width: 300px;
  }
}
@media screen and (max-width: 1400px) {
  .profileInNav {
    flex-basis: 20%;
  }
}
@media screen and (max-width: 1250px) {
  .notificationsDiv {
    right: 40px;
    width: 300px;
  }
}
@media screen and (max-width: 1150px) {
  .notificationsDiv {
    right: 0px;
    width: 300px;
  }
}
@media screen and (max-width: 1050px) {
  .profileInNav {
    flex-basis: 25%;
  }
  .profileInNav::after {
    left: 30px;
    top: 10px;
  }
}
@media screen and (max-width: 900px) {
  .notificationsDiv {
    right: 0px;
    width: 250px;
  }
}
@media screen and (max-width: 850px) {
  .notificationsDiv {
    left: 80px;
    width: 250px;
  }
}
@media screen and (max-width: 650px) {
  .profileInNav {
    flex-basis: 45%;
    margin: 20px auto;
  }
}
@media screen and (max-width: 500px) {
  .profileInNav::after {
    left: 65px;
    top: 10px;
  }
  .sidebar_main {
    padding: 30px;
    max-width: 100vw;
    width: auto;
    transition: all 0.5s;
    left: -30%;
  }
  .toggleSideBar {
    left: 0%;
  }
  .container {
    margin-left: 0px;
    padding: 10px;
  }
  .input-field {
    padding: 0px 20px;
    margin: 30px auto;
  }
  .hamburger {
    display: block;
    position: absolute;
    width: 20px;
    right: 5%;
    top: 12%;
    cursor: pointer;
  }
  .profileInNav {
    flex-basis: 70%;
    margin: 0 auto;
    width: 100%;
  }
  .notificationsDiv {
    z-index: 1;
    width: 300px;
    left: 0px;
  }
}
